@media only screen and (min-width: 701px) {
    .dashboard-main {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background: var(--darkest-black);
        color: white;
        height: 100vh;
    }
    
    .dashboard-feed {
        margin-left: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .dashboard-main h2 {
        text-transform: uppercase;
        color: var(--light-green);
    }

}


