.dashboard-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.dashboard-feed {
    margin-left: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}