.shows-list {
    border: 1px solid var(--light-green);
}

.shows-list table {
    padding: 20px;
    width: 1000px;
}

.shows-list table th {
    font-size: 16px;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--light-green);
    color: var(--med-green);
}

.shows-list table td {
    padding-top: 20px;
}