.shows-list {
    border: 2px solid black;

}

.shows-list table {
    padding: 20px;
    width: 1000px;
}

.shows-list table th {
    font-size: 16px;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.shows-list table td {
    padding-top: 20px;
}