@media only screen and (min-width: 701px) {
    .dashboard-today-widget {
        border: 1px solid var(--light-green);
        padding: 30px;
        width: 125%;
    }
    
    .dashboard-today-widget ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .dashboard-today-widget small {
        font-size: 12px;
    }
    
    .dashboard-today-widget ul li {
        padding: 10px 0;
        font-size: 15px;
    }
    
    .dashboard-today-widget h3 {
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .dashboard-today-widget p {
        padding-top: 0;
        margin-top: 0;
    }
}

