@media only screen and (min-width: 701px) {
    .dashboard-header {
        margin: 0;
        padding-left: 175px;
    }
    
    .dashboard-header h2 a {
        background: var(--darkest-black);
        border: 1px solid var(--med-green);
        padding: 5px;
        font-size: 15px;
    }

    .dashboard-header h2 a:hover {
        background: var(--med-green);
        color: var(--darkest-black);
    }
}


