@media only screen and (min-width: 701px) {
    .dashboard-header {
        margin: 0;
        padding-left: 175px;
    }
    
    .dashboard-header h2 a {
        background: black;
        border: 1px solid white;
        padding: 5px;
        font-size: 15px;
    }
}


