@media only screen and (max-width: 700px) {
    .main-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 100%;
    }
    
    .main-hero p {
        padding: 20px;
        font-size: 1.15rem;
        text-align: center;
        align-self: center;
    }
    
    .main-what-section {
        background-color: gray;
        color: white;
    }
    
    .main-what-section h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .main-what-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .what-card {
        background-color: white;
        border-radius: 10px;
        border: none;
        color: black;
        margin: 20px;
        padding: 10px;
        width: 80%;
        height: 250px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        line-height: 1.5rem
    }
    
    .what-card img {
        width: 250px;
        margin-top: 20px;
    }
    
    .try-button {
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.25rem;
        color: white;
        background: black;
        border-radius: 5px;
        border: none;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 200px;
    }
  }